main {

}
menu {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
}
#main-section-content{
  padding: 1rem;
}
#main-material {

}

.title-section {
  font-weight: bold;
}
.description-section{
  
}
